workspace/american-flights-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getFlights" doc:id="6209734d-1e4a-4321-bce1-6f38f9b8ae29" >
		<db:select doc:name="Select" doc:id="30c93d17-acb9-47cb-a6c3-e6ba7198620b" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a96c74a6-18cc-4b0d-93e3-bddc706c8aff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightById" doc:id="a0f8e2c9-6f6d-4c0f-97b2-12c9b576ab65" >
		<db:query-single doc:name="Query single" doc:id="1d9eafd5-0513-4428-9318-5e8bde5b04e0" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#['ID': attributes.uriParams.ID]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="2235e993-3ceb-4902-8af2-41c72ef62afa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	ID: payload.ID,
	code: (payload.code1default "") ++ (payload.code2 default ""),
	price: payload.price default 0,
	departureDate: payload.takeOffDate as String default "",
	origin: payload.fromAirport default "",
	destination: payload.toAirport default "",
	emptySeats: payload.seatsAvailable default 0,
	plane: {
		"type": payload.planeType default "",
		totalSeats: payload.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="f8ad7ca7-88ee-4f50-b34e-eb6240555fd5" >
		<set-payload value="Flight added (but not really!)" doc:name="Set Payload" doc:id="cb8c0cae-1e3d-4f26-bf8e-d765afcd0a25" />
	</flow>
	<flow name="deleteFlightById" doc:id="8943df7d-7a10-493a-a1a2-dba89039eaec" >
		<set-payload value="Flight deleted (but not really!)" doc:name="Set Payload" doc:id="5240fb66-1b5a-41b6-85ab-e494ac388405" />
	</flow>
	<flow name="putFlightById" doc:id="7a5ff699-6671-430d-9a50-3442eabce08e" >
		<set-payload value="Flight updated (but not really!)" doc:name="Set Payload" doc:id="18b50819-1af1-440c-b864-60e7a9312f83" />
	</flow>
</mule>
